name: CI - Build and Test

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build project and package JAR
      run: mvn clean package -U

    - name: Generate Javadoc
      run: mvn javadoc:javadoc

    - name: Upload JAR to GitHub Release
      uses: softprops/action-gh-release@v2
      if: github.ref == 'refs/heads/main'
      with:
        files: target/*-spring-boot.jar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: app-jar
        path: target/*-spring-boot.jar   # <- fat/executable JAR Spring Boot

    - name: Upload Javadoc
      uses: actions/upload-artifact@v4
      with:
        name: javadoc
        path: target/site/apidocs/
